<%- include("header") -%>

<h1>This is the about page</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum placeat harum pariatur explicabo repellendus laboriosam, neque dolores natus sed perspiciatis quibusdam animi numquam molestiae aspernatur repellat ipsa, omnis reprehenderit. Veniamˀˀ</p> 

<%- include("footer") -%>